@import 'config';

// CUSTOM USER STYLES & IMPORTS


.task {
  &__content{
    border-bottom: 1px solid rgba(85, 162, 224, 0.562);
    margin-bottom: 20px;
    padding: 5px 5px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 4px 9px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 3px 4px 9px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 3px 4px 9px 0px rgba(34, 60, 80, 0.2);
    background-color: white;
    &_checked{
      background-color: lightgoldenrodyellow;
    }
  };
  &-buttons{
    &-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
    };
    &__button_fit{
      width: 100%;
    }
  }
}
.header{
  &-user{
    color: maroon;
    font-size: 16px;
    font-weight: 900;
  }
  &-wrapper{
    padding-top: 5px;
    margin-bottom: 1rem;
    button {
      -webkit-box-shadow: 0px 5px 10px 2px rgba(20, 93, 150, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(20, 93, 150, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(20, 93, 150, 0.2);
    }
  }
}
  

